<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.blog.blograss.apis.notice.NoticeMapper">

     <insert id="createNotice">
          INSERT INTO notice (noticeid, title, content)
          VALUES (#{noticeId}, #{title}, #{content})
     </insert>

     <insert id="insertNoticeImage">
          INSERT INTO noticeimage (noticeid, imageid)
          VALUES (#{noticeId}, #{imageId})
     </insert>

     <select id="getImageIds" resultType="string">
          SELECT imageid FROM noticeimage WHERE noticeid = #{noticeId}
     </select>

     <resultMap id="NoticeResultMap" type="com.blog.blograss.apis.notice.object.NoticeDto">
          <id property="noticeId" column="noticeid" />
          <result property="title" column="title" />
          <result property="content" column="content" />
          <result property="createdAt" column="createdAt" />
          <collection property="imageIds" ofType="string" javaType="java.util.ArrayList">
               <result column="imageid"/>
          </collection>
     </resultMap>

     <resultMap id="NoticeListResultMap" type="com.blog.blograss.apis.notice.object.NoticeDto">
          <id property="noticeId" column="noticeid"/>
          <result property="title" column="title"/>
          <result property="content" column="content"/>
          <result property="createdAt" column="createdAt"/>
          <collection property="imageIds" ofType="string" select="getImageIds" column="noticeid">
               <result column="imageid"/>
          </collection>
     </resultMap>

     <select id="getNotice" resultMap="NoticeResultMap">
          SELECT
               n.noticeid,
               n.title,
               n.content,
               n.createdAt,
               ni.imageid
          FROM notice n
          LEFT JOIN noticeimage ni ON n.noticeid = ni.noticeid
          WHERE n.noticeid = #{noticeId}
     </select>

     
     <select id="getNoticeList" resultMap="NoticeListResultMap">
        SELECT * FROM notice 
        <where>
            <if test="search != ''">
                AND title LIKE CONCAT('%',#{search},'%')
            </if>
        </where>
        <if test="sortField != '' and sortOrder != ''">
            ORDER BY ${sortField} ${sortOrder}
        </if>
        LIMIT #{rowCount} OFFSET #{offset}
    </select>
     


     <select id="deleteNotice">
        DELETE FROM notice WHERE noticeid IN
        <foreach item="item" index="index" collection="noticeIds" open="(" separator="," close=")">
          #{item}
        </foreach>
     </select>

     <select id="getNoticeImageIdsToDelete" resultType="string">
          SELECT imageid FROM noticeimage WHERE noticeid IN
          <foreach item="item" index="index" collection="noticeIds" open="(" separator="," close=")">
               #{item}
          </foreach>
     </select>


     <select id="deleteNoticeImage">
          DELETE FROM noticeimage WHERE noticeid IN
          <foreach item="item" index="index" collection="noticeIds" open="(" separator="," close=")">
               #{item}
          </foreach>
     </select>


    <select id="getNoticeCount" resultType="java.lang.Integer">
          SELECT COUNT(*) FROM notice
          <where>
               <if test="search != ''">
                    title LIKE CONCAT('%',#{search},'%')
               </if>
          </where>
    </select>

     <update id="updateNotice">
          UPDATE notice
          <set>
               <if test="title != null">
                    title = #{title},
               </if>
               <if test="content != null">
                    content = #{content},
               </if>
          </set>
          WHERE noticeid = #{noticeId}
     </update>

</mapper>